:root {
  --min-font-size: 16px;
  --max-font-size: 24px;
}

h1 {
  font-size: calc(var(24px) + (var(32px) - var(24px)) * ((100vw - 320px) / (1600 - 320)));
  color: #fff;
}

a {
  text-decoration: none;
  color: rgba(16, 203, 236) !important;
}

.tab {
  cursor: pointer;
}

/* customize scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 1px solid #939AA9;
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #939AA9;
  ;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #939AA9;
  ;
}

.container {
  max-width: 1400px !important;
}

.btn-primary-base {
  background: rgba(16, 203, 236, 0.76);
  color: #151515;
  font-weight: 500;
  min-width: fit-content;
}


/* floating button */
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }

  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }

  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }

  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}


.floating-container {
  position: fixed;
  z-index: 9999;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}

.floating-container:hover {
  border-radius: 0%;
  width: 150px;
  height: 300px;
}

.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(29, 26, 26, 0.6);
  -webkit-transform: translatey(5px);
  transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
  animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
  animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
  animation: come-in 0.4s forwards 0.6s;
}

.floating-container:hover .element-container .float-element:nth-child(4) {
  -webkit-animation: come-in 0.4s forwards 0.8s;
  animation: come-in 0.4s forwards 0.8s;
}

.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #E8EAEA;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  margin-right: 0px;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 9999;
  box-shadow: 0 10px 25px -5px rgba(232, 234, 234, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container .float-element {
  position: relative;
  display: block;
  z-index: 0;
  opacity: 0;
  float: right;
  margin: 10px auto;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.navbar-brand {
  color: #151515 !important;
  font-weight: 500;
}

.fs-small {
  font-size: 12px;
}

.item-link {
  cursor: pointer;
  color: black !important;
  text-decoration: none;
}

.top-section {
  padding-top: 30px;
  background: none;
  height: 100vh;
  position: relative;
  z-index: 4;
}

.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

.header-section #background-canvas {
  width: 100%;
  height: 100%;
}

canvas.webgl {
  width: 100% !important;
  height: 100%;
  pointer-events: none;
  mix-blend-mode: screen;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.overlay-section {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 150px;
  justify-content: center;
}

.name-text {
  color: #a18cd1;
  background-image: -webkit-linear-gradient(90deg, #a18cd1 0%, #d0a8df 66.15%, #fbc2eb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.skill-section {
  position: relative;
  z-index: 6;
}

.skill-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(34, 36, 38, 0.1), 0 4px 20px 0 rgba(34, 36, 38, 0.25);
    box-shadow: 0 4px 8px 0 rgba(34, 36, 38, 0.1), 0 4px 20px 0 rgba(34, 36, 38, 0.25);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    padding: 0;
  background: #ffffff;
}
.skill-card img{
  width: auto !important;
  height: auto;
}

.experience-section{
  margin-top: 250px;
}
.experience{
  padding: 12px;
}
.experience-card :hover .experience {
  border-radius: 4px;
  background: #09f4ec26;
}

.skill-badge{
  border-radius: 25%/50%;
  padding: 6px 14px;
  font-size: 12px;
  font-weight: 500;
  width: fit-content;
  color: #000c0a;
  background: #03f5f52b;
}

.github-stats{
  margin-top: 200px;
  background: none;
  height: 500px;
  position: relative;
}

.github-stats-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: calc(5vh + 6rem) 0;
  z-index: 2;
  clip-path: polygon(0 0, 100% 5vh, 100% 100%, 0 calc(100% - 5vh));
  -webkit-clip-path: polygon(0 0, 100% 5vh, 100% 100%, 0 calc(100% - 5vh));
  margin-top: 2px;
  background: #1f4c55;
  overflow: hidden;
}


@media (max-width: 64em) {
  canvas.webgl {
    opacity: .7;
  }
}


@media(max-width:992px) {
  .image-size {
    width: 150px;
    height: 150px;
  }

  .overlay-section {
    margin-top: 80px;
  }
}

@media(max-width:767px) {
  .overlay-section {
    margin-top: 50px;
  }

  .image-size {
    width: 130px;
    height: 130px;
  }

  .navbar-brand {
    font-size: 1rem !important;
  }

  .input-group {
    height: 35px;
  }

  .floating-container {
    margin: 12px !important;
  }

  .floating-container .floating-button {
    margin-right: 0px !important;
  }
  .skill-card img{
    width: auto !important;
    height: 20px;
  }
}